.form {
  display: flex;
  gap: 12px;
  width: 440px;
}

.input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  height: 40px;
}

.todoList{
  display: block;
  justify-self: start;  
  width: 440px;
}